body{
    font-family: "Fredoka one", sans-serif;
    font-weight: bold;
    background-image: url("images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 2px;
}
.list{
    justify-items: center;
}
.level{
    display: flex;
    border: 1px solid #43435a;
    border-radius: 10px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.image{
    width: 270px;
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}
.level-name{
    color: white;
}
.name{
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
}
.creator{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: #3a95a6;
}
@media (max-width: 300px) {
    .level-name {
        display: none;
    }
}
.level:hover{
    border: 1px solid #3e6fcc;
}
.top{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #1c1c25;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 17px;
}
#placement{
    color: #ffffff;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    padding-top: 8px;
}

.num{
    color: #5995ff;
    font-size: 25px;
    margin: 0;
    align-self: center;
}
.name-num{
    display: flex;
    margin-top: 10px;
}

.button-page{
    font-size: 20px;
    color: #d5dcf3;
    background: none;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: 0.3s;
    text-decoration: none;
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.button-page:hover{
    background: #28334c;
}

#main-board{
    border: 1px solid #43435a;
    border-radius: 10px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 20px;
}

#text-all{
    display: flex;
    color: white;
    margin-top: 10px;
    font-size: 50px;
    justify-content: center;
}

#t-m{
    margin: 0;
}

.main-plc{
    color: white;
    font-size: 30px;
    list-style: none;
}

.l{
    margin: 10px;
}

.line{
    color:white;
    font-size: 40px;
}

.chgs{
    color: white;
    font-size: 30px;
    list-style: none;
}

.dfc{
    display: flex;
    justify-content: center;
}

.dfc p{
    margin: 0;
    margin-bottom: 10px;
    color: #9c9c9c;
    font-size: 20px;
}

#main-text{
    color: white;
    font-size: 30px;
}

.y{
    margin: 10px;
    margin-bottom: 20px;
    color: #ffcc00;
}

.g{
    margin: 10px;
    margin-bottom: 20px;
    color: #00c800;
}

.b{
    margin: 10px;
    margin-bottom: 20px;
    color: #76deff;
}

#ill-link{
    text-decoration: none;
    color: #008e00;
}

.h-link{
    text-decoration: none;
}

#yt{
    color: #d50000;
}

#tt{
    color: #5d3dcc;
}

#gh{
    color: #5ba1cd;
}

.sl{
    margin: 10px;
    list-style: none;
}

.wr{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
