body{
    font-family: "Fredoka one", sans-serif;
    font-weight: bold;
    background-image: url("images/bg.png");
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 2px;
}
.list{
    justify-items: center;
}
.level{
    display: flex;
    border: 1px solid #43435a;
    border-radius: 10px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.image{
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}
.level-name{
    color: white;
}
.name{
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
}
.creator{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: #3a95a6;
}
@media (max-width: 300px) {
    .level-name {
        display: none;
    }
}
.level:hover{
    background-color: #2f2f3c;
    border: 1px solid #4b6a9c;
}
.top{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #1c1c25;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 17px;
}
#placement{
    color: #ffffff;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.num{
    color: #5995ff;
    font-size: 25px;
    margin: 0;
    align-self: center;
}
.name-num{
    display: flex;
    margin-top: 10px;
}

#upc-changes{
    font-size: 20px;
    color: #d5dcf3;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    transition: 0.3s;
}

#upc-changes:hover{
    background: #28334c;
}

.d-list{
    display: none;
}

#u-changes{
    border: 1px solid #43435a;
    border-radius: 10px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 20px;
}

#text-uc{
    display: flex;
    color: white;
    margin-top: 10px;
    font-size: 50px;
    justify-content: center;
}

#uc{
    margin: 0;
}

.main-plc{
    color: white;
    font-size: 30px;
    list-style: none;
}

.l{
    margin: 10px;
}

.line{
    color:white;
    font-size: 40px;
}

.chgs{
    color: white;
    font-size: 30px;
    list-style: none;
}
.list{
    justify-items: center;
}
.level{
    display: flex;
    border: 1px solid #43435a;
    border-radius: 10px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.image{
    width: 270px;
    max-width: 100%;
    height: 140px;
    border-radius: 10px;
    margin: 10px;
}
.level-name{
    color: white;
}
.name{
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
}
.creator{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: #3a95a6;
}
@media (max-width: 300px) {
    .level-name {
        display: none;
    }
}
.level:hover{
    background-color: #282833;
    border: 1px solid #4b6a9c;
}
.top{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #1c1c25;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 17px;
}
#placement{
    color: #ffffff;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.num{
    color: #5995ff;
    font-size: 25px;
    margin: 0;
    align-self: center;
}
.name-num{
    display: flex;
    margin-top: 10px;
}

#upc-changes{
    font-size: 20px;
    color: #d5dcf3;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    transition: 0.3s;
}

#upc-changes:hover{
    background: #28334c;
}

.d-list{
    display: none;
}

#u-changes{
    border: 1px solid #43435a;
    border-radius: 10px;
    background-color: #1c1c25;
    text-decoration: none;
    width: 1000px;
    margin-bottom: 20px;
}

#text-uc{
    display: flex;
    color: white;
    margin-top: 10px;
    font-size: 50px;
    justify-content: center;
}

#uc{
    margin: 0;
}

.main-plc{
    color: white;
    font-size: 30px;
    list-style: none;
}

.l{
    margin: 10px;
}

.line{
    color:white;
    font-size: 40px;
}

.chgs{
    color: white;
    font-size: 30px;
    list-style: none;
}

.dfc{
    display: flex;
    justify-content: center;
}

.dfc p{
    margin: 0;
    margin-bottom: 10px;
    color: #9c9c9c;
    font-size: 20px;
}